* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* sfondo generato con un tool */
  background: #128c7e; /* Old browsers */
  background: -moz-linear-gradient(top,  #128c7e 0%, #128c7e 15%, #128c7e 15%, #ece5dd 15%, #ece5dd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #128c7e 0%,#128c7e 15%,#128c7e 15%,#ece5dd 15%,#ece5dd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #128c7e 0%,#128c7e 15%,#128c7e 15%,#ece5dd 15%,#ece5dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#128c7e', endColorstr='#ece5dd',GradientType=0 ); /* IE6-9 */


}

main {
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.account_convo.active {
  background-color: rgb(234, 234, 234);
}
.notified {
  font-size: 14px;
  text-decoration: underline;
  color: dimgrey;
}

p.clock {
  color: lightgrey;
  font-size: 10px;
}

.user-state {
  font-size: 14px;
  color: lightgrey;
}

p.last-access {
  font-size: 14px;
  color: dimgrey;
}

.flex {
  display: flex;
}

.wrapper {
  width: 80%;
  height: 95%;
  margin: auto;
  z-index: 2;
}

.account-wrapper {
  height: 100%;
  width: 30%;
  min-width: 250px;
}

.user-nav {
  padding: 10px;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 234, 234);
}

img.avatar {
  border-radius: 50%;
  width: 50px;
}

i {
  padding: 0 10px;
  font-size: 20px;
}

.icon_top {
  color: rgb(177, 177, 177);
}

.search-icon .icon_top {
  font-size: 16px;
}

.icon_dark {
  color: dimgrey;
}

.notification-banner {
  padding: 12px;
  height: 75px;
  width: 100%;
  background-color: rgb(142, 218, 252);
  align-items: center;
}

.icon-circle-outline {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.notification-banner i {
  color: rgb(142, 218, 252);
  font-size: 30px;
}

.notification-text {
  width: 80%;
  margin-left: 10px;
}

.notification-text h5 {
  padding-bottom: 5px;
}

.div-search {
  background-color: ghostwhite;
  height: 40px;
  width: 100%;
  padding: 5px;
  justify-content: flex-start;
}

.wrapper-input {
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: auto;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

input.search-chat {
  height: 100%;
  width: 100%;
  border: 0;
}

.account-chat-wrapper {
  height: calc(100% - 180px);
  width: 100%;
  background-color: white;
  border: 1px solid lightgrey;
  overflow-y: scroll;
}

.account-list {
  list-style: none;
}

.account-list li {
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  position: relative;
  margin-left: 0;
  border: 1px solid ghostwhite;
  border-left: 0;
}
.account-list li:hover {
background-color: rgb(234,234,234);
}


.user-avatar {
  width: 50px;
  border-radius: 50%;
}

.account-name {
  flex-basis: 45%;
}

.chat-wrapper {
  height: 100%;
  width: 70%;
  min-width: 350px;
}

.chat-nav {
  padding: 10px;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  border-left: 1px solid lightgrey;
  align-items: center;
  background-color: rgb(234, 234, 234);
}

.current-chat-wrapper {
  height: calc(100% - 65px);
}

.current-chat-screen {
  display: none;
  height: calc(100% - 65px);
  overflow-y: scroll;
  padding: 30px;
  width: 100%;
  background-image: url("../img/chatbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.current-chat-screen.active {
  display: block;
}

.message {
  min-width: 30%;
  max-width: 60%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.message-options {
  display: none;
}

.message:hover .message-options {
  display: block;
}

.message-top {
  position: relative;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.message-bottom {
  text-align: right;
}

.message.sent {
  float: right;
  clear: both;
  background-color: #D5F9BA;
}

.message.received {
  float: left;
  clear: both;
  background-color: white;
}

.message-time {
  color: lightgrey;
  font-size: 10px;
}

.delete-dropdown {
  border-radius: 3px;
  background-color: white;
  padding: 10px 5px;
  position: absolute;
  right: 5px;
  bottom: -45px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.typing-bar {
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: rgb(234, 234, 234);
  z-index: 2;
}

input#send {
  flex-basis: 80%;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

input#send:hover,
input#send:focus,
input#send:active {
  border: 2px solid #34B7F1;
}

.template {
  display: none;
}
