* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #ece5dd; */
}

.header-green {
  height: 10%;
  width: 100%;
  background-color: #128c7e;
}

main {
  height: 100vh;
  background-color: #ece5dd;
  overflow: hidden;
  position: relative;
}

.flex {
  display: flex;
}

.wrapper {
  width: 80%;
  height: 90vh;
  background-color: BlueViolet;
  margin: 0 auto;
  z-index: 2;
}

.account-wrapper {
  background-color: PaleGreen;
  height: 100%;
  width: 30%;
}

.user-nav {
  padding: 10px;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: Gainsboro;
}

img.avatar {
  border-radius: 50%;
  width: 50px;
}

/* .user-icons i {
  padding: 0 10px;
  color: darkgrey;
} */
.icon_top {
  padding: 0 10px;
  color: darkgrey;
}

.notification-banner {
  padding: 12px;
  height: 75px;
  width: 100%;
  background-color: LightSkyBlue;
  align-items: center;
}

.notification-banner i {
  color: white;
  font-size: 35px;
  padding-left: 10px;
}

.notification-text {
  width: 80%;
  margin-left: 10px;
}

.notification-text h5 {
  padding-bottom: 5px;
}

.div-search {
  background-color: Gainsboro;
  height: 40px;
  padding: 5px;
  justify-content: flex-start;
}

input.search-chat {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.account-chat-wrapper {
  height: 80%;
  width: 100%;
  background-color: gold;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.account-list {
  list-style: none;
}

.account-list li {
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  position: relative;
  margin-left: 0;
  border: 1px solid lightgrey;
}

.account-list li img {
  width: 50px;
  border-radius: 50%;
}

.account-name {
  flex-basis: 45%;
}

.chat-wrapper {
  background-color: Turquoise;
  height: 100%;
  width: 70%;
}

.chat-nav {
  padding: 10px;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  border-left: 1px solid grey;
  align-items: center;
  background-color: Gainsboro;
}

.current-chat-wrapper {
  height: calc(100% - 65px);
}

.current-chat-screen {
  height: calc(100% - 65px);
  width: 100%;
  background-image: url("../img/chatbackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.typing-bar {
  height: 65px;
  width: 100%;
  background-color: Gainsboro;
  z-index: 2;
}
