* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #ece5dd; */
}

.header-green {
  height: 10%;
  width: 100%;
  background-color: #128c7e;
}

main {
  height: 100vh;
  background-color: #ece5dd;
  overflow: hidden;
}

.flex {
  display: flex;
}

.wrapper {
  width: 80%;
  height: 95%;
  background-color: BlueViolet;
  margin: auto;
  z-index: 2;
}

.account-wrapper {
  background-color: PaleGreen;
  height: 100%;
  width: 30%;
}

.user-nav {
  padding: 10px;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: Gainsboro;
}

img.avatar {
  border-radius: 50%;
  width: 50px;
}

/* .user-icons i {
  padding: 0 10px;
  color: darkgrey;
} */
.icon_top {
  padding: 0 10px;
  color: darkgrey;
}

.icon_dark {
  padding: 0 10px;
  color: dimgrey;
  font-size: 20px;
}

.notification-banner {
  padding: 12px;
  height: 75px;
  width: 100%;
  background-color: LightSkyBlue;
  align-items: center;
}

.notification-banner i {
  color: white;
  font-size: 35px;
  padding-left: 10px;
}

.notification-text {
  width: 80%;
  margin-left: 10px;
}

.notification-text h5 {
  padding-bottom: 5px;
}

.div-search {
  background-color: Gainsboro;
  height: 40px;
  padding: 5px;
  justify-content: flex-start;
}

input.search-chat {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.account-chat-wrapper {
  height: 70%;
  width: 100%;
  background-color: gold;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.account-list {
  list-style: none;
}

.account-list li {
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  position: relative;
  margin-left: 0;
  border: 1px solid lightgrey;
}

.account-list li img {
  width: 50px;
  border-radius: 50%;
}

.account-name {
  flex-basis: 45%;
}

.chat-wrapper {
  background-color: Turquoise;
  height: 100%;
  width: 70%;
}

.chat-nav {
  padding: 10px;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  border-left: 1px solid grey;
  align-items: center;
  background-color: Gainsboro;
}

.current-chat-wrapper {
  height: calc(100% - 65px);
}

.current-chat-screen {
  height: calc(100% - 65px);
  overflow-y: scroll;
  width: 100%;
  background-image: url("../img/chatbackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.text-message-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  width: 90%;
  margin: 10px 0;
}

.text-received {
  background-color: white;
  position: relative;
  max-width: 25%;
  margin-left: 10%;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
}

.text-sent {
  background-color: #D5F9BA;
  justify-content: flex-end;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
}

.text-sent span {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.text-sent:hover {
  cursor: pointer;
}

.text-sent:hover span {
  display: block;
}

.text-received span {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.text-received:hover span {
  display: block;
}

.typing-bar {
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: Gainsboro;
  z-index: 2;
}

input#send {
  flex-basis: 80%;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

input#send:hover,
input#send:focus,
input#send:active {
  border: 2px solid #34B7F1;
}
